body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(Image/background-image.jpg);
}

h1, h2, h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer{
    background-color:lightgrey;
    display:flex;
    justify-content: space-between;
    padding: 2px;
}

.left {
    background-color: aliceblue;
    width: 200px;

}
.right {
    background-color: lightcoral;
    width: 200px;
}

.center{
    background-color: aqua;
    width: 200px;
}

#navbar-menu{
    margin-top: 15px;
    float:right;
}
#logo{
    font-size: 40px;
    float:left;
}
#body{
    margin-top: 20px;
}
